//===============================================================================================
// Variables
//===============================================================================================

/* Color Name Variables */

$background: #045575;
$font-default: #FFFFFF;
$black: black;
$icon-active: #38A1F3;

/* Font Stack */

$font-stack: 'Open Sans', sans-serif;

/*  Font Weights  */

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;


/*  Base Font Config  */

$small-font-size: .8em;
$base-font-size: .9em;
$med-font-size: 1.1em;
$large-font-size: 1.6em;
$base-line-height: 1.3em;

/*  Media Breakpoints */

$break-lg: 1000px;
$grid-break-med: 768;
$grid-break-lg: 1400;