//===============================================================================================
// Site Content
//===============================================================================================

// Showcase Begins //

.showcase {
    background: url('../images/macbook.jpeg');
    background-size: cover;
    background-position: center center;
    height: 500px;
    text-align: center;
    @media screen and (min-width: 700px) {
        height: 800px;
    }
    
    &__headline {
        position: relative;
        top: 30%;
        width: 90%;
        margin: 0 auto;
        border-right: 2px solid rgba(255,255,255,.75);
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
        font-size: $med-font-size;
        font-weight: $font-weight-semibold;
        color: $font-default;
        @media screen and (min-width: 700px) {
            font-size: 2.8em;
            top: 28%;
        }
    }

    &__social {
        position: relative;
        top: 410px;
        @media screen and (min-width: 800px) {
            top: 470px;
        }
    }

    &__icon {
        color: $font-default;
        padding: 17px 15px;
        border: 1px solid $font-default;
        border-radius: 100%;
        cursor: pointer;
        &:hover {
            color: $icon-active;
            background-color: white;
        }
    }
}

// Animate typewriter effect when page loads //

.typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
    -webkit-animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 90%;}
}
    
@keyframes blinkTextCursor {
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

// Showcase ends //

// Skills begins //

.skills {
    text-align: center;
    @media screen and (min-width: 800px) {
        padding: 3em 0;
    }
    
    &__headline {
        @extend %headline-style;
    }

    &__container {
        
        @media screen and (min-width: 800px) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            max-width: 950px;
            margin: 0 auto;
        }
    }

    &__image {
        width: 120px;
    }

    &__label {
        color: #375891;
    }
}

// Skills ends //

// Portfolio begins //

.portfolio {
    text-align: center;
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        margin-top: 6em;
        max-width: 1000px;

    }

    &__headline {
        @extend %headline-style;
    }

    &__item {
        margin: 0 0 4em 0;
    }

    &__image {
        width: 300px;
        border-radius: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: transform .25s ease-in-out;
        @media screen and (min-width: 700px) {
            &:hover {
                transform: scale(1.03);
            }
        }
    }

    &__expound {
        font-size: $base-font-size;
        color: $font-default;
    }
}

.item__desc {
    color: #375891;
    font-weight: $font-weight-regular;
    font-size: $med-font-size;
}

.item__expound {
    font-size: .8em;
    color: #375891;
    width: 90%;
    margin: 0 auto;
    @media screen and (min-width: 700px) {
        width: 340px;
    }
}

// Portfolio ends //

// Resume begins //


.resume {
    text-align: center;
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__headline {
        @extend %headline-style;
    }

    &__item {
        padding: 0 10px 0 10px;
        @media screen and (min-width: 700px) {
    
        }
    }
}

.item__headline {
    color: $font-default;
    font-weight: $font-weight-regular;
}

.item__list {
    list-style: none;
    padding: 0;
}

.list__item {
    color: $font-default;
    font-size: $small-font-size;
    line-height: $base-line-height;
    margin-bottom: 15px;
    padding-left: 15px;
    border-left: 1px solid $font-default;
    text-align: left;
}

// Resume ends //

// Education begins //

.education {
    text-align: left;
    margin-top: 2em;

    &__headline {
        @extend %headline-style;
    }

    &__expound {
        color: $font-body;
        font-size: $base-font-size;
        line-height: $base-line-height;
        margin: 0 auto;
        max-width: 90%;
        @media screen and (min-width: 700px) {
            max-width: 500px;
        }
    }
}

// Education ends //

// About begins //

.about {
    text-align: left;
    margin-top: 2em;

    &__headline {
        @extend %headline-style;
    }

    &__expound {
        color: $font-body;
        font-size: $base-font-size;
        line-height: $base-line-height;
        margin-left: 5%;
        max-width: 90%;
        @media screen and (min-width: 700px) {
            max-width: 500px;
            padding: 1em 0 0 0;
            margin: 0 auto;
        }
    }
}

// About ends //

// Footer begins //

footer {
    background: url('../images/footer.jpeg');
    background-size: cover;
    height: 550px;
    text-align: center;
    margin-top: 4em;
    @media screen and (min-width: 800px) {
        background-attachment: fixed;
    }
}

.contact {

    &__headline {
        @extend %headline-style;
        color: $input;
        border-bottom: 2px solid $input;
    }

    &__resume {
        display: block;
        margin: 0 auto;
        width: 150px;
        color: $font-body;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        background-color: $input;
        border-radius: 3px;
        font-size: $small-font-size;
        text-decoration: none;
    }

    &__icon {
        padding-right: 5px;
    }

    &__phone {
        color: $font-default;
        
    }

    &__email {
        color: $font-default;
        display: inline-block;
        text-decoration: none;
        margin-bottom: 1em;
        &:hover {
            cursor: pointer;
            color: $icon-active;
        }
    }
}

.field {
    display: block;
    width: 100%;
    margin: 0 auto;
    &__half {
        @media screen and (min-width: 800px) {
            display: inline-block;
            width: 45%;
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}

.form {
    &__label {
        color: $font-default;
        display: block;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 10px;
        padding-left: 10%;
        @media screen and (min-width: 800px) {
            padding-left: 0;
        }
    }

    &__input {
        width: 80%;
        height: 30px;
        margin-bottom: 10px;
        border: 0;
        border-radius: 3px;
        font-size: $small-font-size;
        background-color: $input;
        text-indent: 5px;
        @media screen and (min-width: 800px) {
            width: 100%;
        }
    }

    &__textarea {
        width: 80%;
        height: 90px;
        border: 0;
        border-radius: 5px;
        font-size: $small-font-size;
        resize: none;
        background-color: $input;
        text-indent: 5px;
        @media screen and (min-width: 800px) {
            width: 92%;
        }
    }
}

.textarea__label {
    text-align: left;
    display: block;
    margin-left: 10%;
    padding-bottom: 10px;
    color: $font-default;
    @media screen and (min-width: 800px) {
        margin-left: 0;
        padding-left: 4%;
    }
}

.form__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 5px 20px;
    background: $input;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

// Footer ends //

