//===============================================================================================
// Images
//===============================================================================================

#git {
    padding-top: 30px;
    padding-bottom: 40px;
}

#js {
    width: 100px;
    padding: 10px 0;
}

#sass {
    padding-top: 8px;
    padding-bottom: 7px;
}

@media screen and (min-width: 700px) {
    #sass {
        margin-bottom: 15px;
    }
}

.education__image {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.about__image {
    width: 330px;
    margin-top: 1em;
    margin: 0 auto;
    display: block;
    
}
