//===============================================================================================
// Images
//===============================================================================================

#git {
    padding-bottom: 32px;
}

@media screen and (min-width: 700px) {
    #sass {
        margin-bottom: 15px;
    }
}

.education__image {
    width: 300px;
}