//===============================================================================================
// Navbar
//===============================================================================================

.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: $font-default;
}

.topnav {
    position: absolute;
    top: 100%;
    right: 0;
    text-align: center;
    background: rgb(146, 183, 279);
    -webkit-clip-path: circle(0px at top right);
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    transition: -webkit-clip-path ease-in-out 700ms;
}

.topnav--open {
    -webkit-clip-path: circle(250% at top right);
    clip-path: circle(250% at top right);
}

.topnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topnav li {
    border-bottom: 1px solid lightgray;
    &:last-child {
      border: 0;
    }
}

.topnav a {
    color: $black;
    display: block;
    padding: 1em 2em 1em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    &:hover,
    &:focus {
    color: $font-default;
    border-bottom: 3px solid red;
    background-color: darken($color: $font-body, $amount: 0.2);
    
    }
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .75em;
    right: .25em;
    cursor: pointer;
}
  
.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 748px) {
  
    .menu-toggle {
      display: none;
    }
  
    .topnav {
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      clip-path: initial;
      -webkit-clip-path: initial;
    }
  
    .topnav li {
      display: inline-block;
      border: none;
    }
  
    .topnav a {
      padding: 0;
      margin-left: 3em;
      color: $font-default;
      &:focus,
      &:hover,
      &:active {
          background: transparent;
          padding-bottom: 3px;
          color: $black;
          border-bottom: 3px solid $nav-border-active;
      }
    } 
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 20px;
}

